<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= @video.title || "Zype Video" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"> Zype Test Player</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><%= link_to 'Sample Youtube Embed', root_path(type: 'youtube') %></li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><%= link_to 'Zype Test Embed', root_path %></li>
    </ul>
  </section>
</nav>
  <%= javascript_include_tag "application" %>
  <div class="wrapper">
    <%= yield %>
    <div class="push"></div>

  </div>

  <footer class="top-bar zype-top-bar footer">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-6 columns">
          <p class="zype-footer-text">© Zype.</p>
        </div>
      </div>
    </div>
  </footer>

  </body>
</html>