<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= @video.present? ? @video.title : "Zype Video" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <script src="http://api.zype.com/player.js" type="text/javascript"></script>
    <script> zype.key ="IZQ9lT6FLQ_yNFvFDzinAw"</script>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#" id="ztp-header"> Zype Test Player</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->

    <!-- Left Nav Section -->
    <ul class="left">
      <li><%= link_to 'Zype Test Embed', root_path %></li>
    </ul>
  </section>
</nav>
  <%= javascript_include_tag "application" %>
  <div class="wrapper">
    <%= yield %>
    <div class="push"></div>

  </div>

  <footer class="top-bar zype-top-bar footer" id="zype-footer-body">
    <div class="large-12 columns zype-footer-col">
      <div class="row">
        <div class="large-6 columns">
          <p class="zype-footer-text"><%= link_to '@ 2013 Zype Media Group', 'http://zype.com', class: 'zype-link' %> | ZypeTM is a registered trademark.</p>
        </div>
      </div>
    </div>
  </footer>


  </body>
</html>